.sun-time{
  display: flex;
  justify-content: end;
  gap: 24px;
}

.sun-time__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.sun-time__text > svg {
  fill: var(--text-color)
}

.sun-time__secondary-text{
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.sun-time__path{
  width: 100%;
  background-color: var(--background);
  border: 2px solid var(--path);
  border-bottom: 2px dotted var(--secondary-text-color);
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  transition: 2000ms;
}

.sun-time__path:has(.sun-time__sun){
  --background: #fbbe2441;
  --path: #f59e0b;
}

.sun-time__path:has(.sun-time__moon){
  --background: #27272a;
  --path: var(--secondary-text-color);
}

.sun-time__sun {
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% * (1 - cos(pi * (var(--progress)))));
  bottom: calc(100% * sin(pi * (var(--progress))));
  background-color: #fcd34d;
  border-radius: 50%;
  box-shadow: 0 0 20px #fcd34d80;
  transform: translate(-50%, 50%);
}

.sun-time__moon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% * (1 - cos(pi * var(--progress))));
  bottom: calc(100% * sin(pi * var(--progress)));
  background-color: #d4d4d8;
  border-radius: 50%;
  box-shadow: 0 0 20px #d4d4d880;
  transform: translate(-50%, 50%);
}

@media screen and (min-width: 768px){
  .sun-time{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 1024px){
  .sun-time{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}