.weather-forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weather-forecast__list{
  display: flex;
  padding-bottom: 16px;
  gap: 32px;
  flex-grow: 1;
  overflow-x: auto;
}

.weather-forecast__list::-webkit-scrollbar{
  height: 4px;
}

.weather-forecast__list::-webkit-scrollbar-track {
  background: #27272a;
  border-radius: 16px;
}

.weather-forecast__list::-webkit-scrollbar-thumb {
  background-color: var(--focus);
  border-radius: 16px;
}

.weather-forecast__list::-webkit-scrollbar-thumb:hover {
  background: var(--focus);
}

.weather-forecast__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(20% - 8px);
  gap: 8px;
}

.weather-forecast__item__image{
  width: 32px;
  height: 32px;
}

.weather-forecast__item__temperature{
  position: relative;
}

.weather-forecast__item__temperature::after{
  content: "º";
  position: absolute;
  color: var(--secondary-text-color)
}

@media screen and (min-width: 768px) {
  .weather-forecast{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media screen and (min-width: 1024px) {
  .weather-forecast{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
