.air-quality{
  position: relative;
}

.tag{
  height: fit-content;
  padding: 4px 8px;
  border-radius: 16px;
}

.tag[data-aqi="1"]{
  background-color: #10B981;
}

.tag[data-aqi="2"]{
  background-color: #FBBF24;
}

.tag[data-aqi="3"]{
  background-color: #F59E0B;
}

.tag[data-aqi="4"]{
  background-color: #EF4444;
}

.tag[data-aqi="5"]{
  background-color: #6B7280;
}

.component-list{
  display: flex;
  gap: 8px 32px;
  flex-wrap: wrap;
}

.component-list__item{
  width: calc(50% - 16px);
}

.component-list__item span {
  font-weight: bold;
}

.wrapper{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper h2{
  margin-bottom: 0px;
}

@media screen and (min-width: 768px){
  .air-quality{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 1024px){
  .air-quality{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}